<!DOCTYPE html>
<html>
<head>
  <link href="/css/application.css" rel="stylesheet" type="text/css">
  <title>Meme Generator</title>
</head>
<body>
  <h1>Meme Generator</h1>
  <p>Add text to images!</p>
</body>
</html>
